<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <a href="{% url 'index' %}">Articles</a>
    {% if user.is_authenticated %}
        Hello {{ user.username }}
        {% if perms.articles.add_article %}
            <a href="{% url 'new_article' %}">Create new article</a>
        {% endif %}
        {% if perms.articles.change_article %}
            <a href="{% url 'review_articles' %}">Review articles</a>
        {% endif %}
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'sign_up' %}">Sign Up</a>
        <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
    {% endif %}
</header>
    {% block body %}
    {% endblock %}
</body>
</html>